// Page layout can be done using mixins applied to your semantic classes and IDs
// For instance this layout defines a two column layout on pages with
// a body class of "one-col".
//
// The markup would look like:
//    <div id="container">
//      <div id="header"></div>
//      <div id="menu"></div>
//      <div id="content"></div>
//      <div id="footer"></div>
//    </div>
//
// and the layout would look like:
//    +------------------------+
//    |        #header         |
//    +------------------------+
//    |        #flash          |
//    +------------------------+
//    |        #menu           |
//    +------------------------+
//    |                        |
//    |        #content        |
//    |                        |
//    +------------------------+
//    |        #footer         |
//    +------------------------+

body.one-col {
  #container {
    @include container;
    width: 100%;
  }
  #header, #flash, #menu, #content, #footer {
    @include column($blueprint-grid-columns);
  }
}
