
#user_details
  %h2 User Details

  %table#metadata
    %tr#name
      %td#name
        Name
      %td#value
        = @user.full_name

    %tr#email
      %td#name
        Email
      %td#value
        = @user.email

    %tr#roles
      %td#name
        Roles
      %td#value
        = @user.roles.join ","

  = link_to 'Edit Details', edit_user_path
