// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/one_col";
@import "partials/border";

// Color scheme:
$red :      #ff542e;
$yellow:    #fff0ba;
$ocre:      #f2bc00;
$grey:      #cfd6de;
$lightgrey: #e4e9f5;
$lightblue: #adc1d6;
$blue:      #7297ba;

// Specific styling of elements

// General page layout
#header {
  background-repeat: no-repeat;
  background-color: $grey;
  vertical-align: bottom;
  height: 65px;
  color: white;
  #logo { float: left; }
  #login_info {
    position:absolute;
    text-align: right;
    height: 40px;
    vertical-align: bottom;
    top: 10px;
    right: 15px;
    color: $blue;
    z-index: 1000;
    padding: 10px;
    li { list-style-type: none; }
  }
}

#footer {
  text-align: center;
  margin-top: 20px;
  p {
    margin-left: 10%;
    width: 80%;
    font-size: .8em;
  }
}

#flash_error {
  background-color: $red;
  border-color: darkred;
}

#flash .notice {
  @include border-radius(5px);
  @include box-shadow(#ccc, 10px, 5px, 5px);
  margin: 10px;
  padding: 10px;
  float: left;
  width: 95%;
  text-align: center;
  .notify_close { float: right; }
  .notify_msg { margin-top: 8px; }
  .notify_msg h3 { margin-bottom: 0; }
}

#menu {
  background-color: $ocre;
  margin-bottom: 10px;
  height: 20px;
  ul {
    display: block;
    li {
      list-style-type: none;
      float: left;
      position: relative;
      display: list-item;
      color: white;
      a {
        padding-right: 18px;
        padding-left: 18px;
      }
      a.header:link, a.header:visited, a.header:active {
        color: white;
        text-decoration: none;
        text-weight: bold;
      }
      a.header:hover {
        color: white;
        text-decoration: underline;
        text-weight: bold;
      }
    }
    li#right {
      float: right;
    }
  }
}

#content {
  margin-left: 15px;
  hr {
    height: 1px;
    background-color: black;
    margin: 5px;
  }
}

#paragraph {
  max-width: 600px;
  padding-left: 10px;
  padding-bottom: 15px;
}

// transcript index page
#transcripts {
  width: 850px;
  margin: auto;
}
table#transcripts {
  padding: 10px;
  border-spacing: 2px 2px;
  border: 1px;
  th {
    background-color: $blue;
    color: white;
    a {
      color: white;
    }
    font-weight: bold;
    text-align: center;
  }
  td {
  background-color: $lightblue;
  }
  th .current {  
    padding-right: 18px;  
    background-repeat: no-repeat;  
    background-position: right center;  
  }  
  th .asc {   
    background-image: url(/images/up_arrow.png);   
  }  
  th .desc {   
    background-image: url(/images/down_arrow.png);   
  }
}

// media_item index page
ul.media_items {
  display: block;
  li {
    list-style-type: none;
    float: left;
    .item {
      border: 2px solid grey;
      margin: 5px;
      padding: 2px;
      text-align: center;
      width: 170px;
      img {
        width: 160px;
        height: 120px;
      }
      p {
        text-align: center;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        width: 170px;
        margin: 0px;
      }
      p.description {
        margin-bottom: 5px;
      }
    }
  }
}

// media_item show page
#media_item {
  float: left;
  #errorExplanation {
    background-color: $red;
    @include border-radius(5px);
    @include box-shadow(#ccc, 10px, 5px, 5px);
    ul {
      li {
        display: list-item;
        color: white;
      }
    }
  }
}
div.info {
  border: 1px dashed;
  margin-top: 70px;
  padding: 15px;
  float: left;
  @include border-radius(5px);
  @include box-shadow(#ccc, 10px, 5px, 5px);  
  ul {
    margin: 0;
  }
}

table#metadata {
  padding: 10px;
  margin: 0;
  td.name {
    font-weight: bold;
    text-align: right;
    width: 107px;
  }
}
table#metadata.small {
  td {
    padding: 0px 4px;
    font-family: Arial;
    font-size: 12px;
  }
  td.name {
    width: 50px;
  }
}

.collapse_box {
  border: 2px solid black;
  padding: 0;
  margin: 10px 0;
  width: 330px;  
  .collapse_title {
    background-color: $lightblue;
    font-weight:    bold;
    height:         17px;
    padding-left:   5px;
    padding-bottom: 2px;
  }
  .collapse_content {
    background-color: $lightgrey;
    padding: 7px 5px 3px 5px;
    margin: 0;
  }
}

#left_column {
  display: static;
  float: left;
  h3 {
    width: 330px;
  }
  #media_display {
    display: block;
  }
  #metadata_display {
    display: block;
    #embed_code {
      width: 315px;
      height: 20px;
      display: block;
      font-size: 10px;
    }
  }
}
#right_column {
  margin: 0 20px 10px 350px;
  #url {
    float: right;
    #cur_url {
      height: 15px;
    }
  }
}

#tiers_info {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 1em;
  #tier_title {
    background-color: $lightgrey;
    cursor: pointer;
    padding: 0 5px 0 5px;
  }
  form {
    position: absolute;
    float: left;
    display: none;
    padding: 7px;
    background-color: white;
    border: 1px solid black;
    @include box-shadow(#ccc, 10px, 5px, 5px);
  }
}

#transcript_display {
  padding: 2px;
  border: 2px solid $grey;
  overflow: auto;
  clear: right;
  .line {
    margin: 0;
    border-spacing: 2px;
    .controls {
      margin: 2px 0px 1px 2px;
      padding: 2px;
      width: 25px;
      text-align: center;
      background-color: $grey;
      .play_button {
        cursor: pointer;
      }
    }
    .tracks {
      background-color: $lightgrey;
      padding: 0px;
      margin: 1px 2px 2px 2px;
      text-align: left;
      .tier {
        span {
          display: inline-block;      
          font-size: 12px;
          border-spacing: 5px;
          vertical-align: top;
          table {
            padding: 1px;
            margin: 0;
            border-spacing: 2px;
            tr {
              td {
                white-space: nowrap;
                font-family: Arial;
                padding: 1px;
                margin: 1px;
              }
              td.morpheme, td.gloss {
                background-color: $grey;
              }
            }
          }
        }
      }
      .phrase {
        font-size: 12px;
        margin-left: 5px;
      }
      .translation {
        color: green;
        font-style: italic;
      }
    }
    .hilight {
      border: 4px solid $ocre;
    }
  }
}

/* Progress bar bits */
#uploading {
  display: none;
  width: 400px;

  #progress {
    width: 300px;
    background: #454545;
    border: 1px solid #222;
    margin-bottom: 20px;
    
    #progressbar {
      width: 0px;
      height: 24px;
      background: #b4e04a;
    }
  }
}


.hidden {
  display: none;
}

.impress {
  background: #3399CC !important;
  border: 3px solid #CC0033 !important;
}


#concordance {
  .search {
    font-weight: bold;
  }
  .left {
    text-align: right;
  }
}


