// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
// Import blueprint liquid layout
@import "blueprint/liquid";


// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-liquid-grid;
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.three-col {
  #container {
    @include container;
    width: 100%; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // // 24 columns wide
    $sidebar-columns: $blueprint-grid-columns;
    @include column($sidebar-columns);
    width: 100%; }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }


// Specific styling of elements
#header
  background-repeat: no-repeat
  background-color: #d3d4d8
  vertical-align: bottom
  height: 65px
  color: white

  #logo
    float: left

  #login_info
    position:absolute
    text-align: right
    height: 40px
    vertical-align: bottom
    top: 10px
    right: 15px
    color: darkblue
    z-index: 1000
    padding: 10px
    li
      list-style-type: none

#flash_error
  background-color: #fc5051
  border-color: darkred
#flash .notice
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  box-shadow: #ccc 10px 5px 5px
  -webkit-box-shadow: #ccc 10px 5px 5px
  -moz-box-shadow: #ccc 10px 5px 5px
  margin: 10px
  padding: 10px
  float: left
  width: 95%
  text-align: center
  .notify_close
    float: right
  .notify_msg
    margin-top: 8px
  .notify_msg h3
    margin-bottom: 0

#sidebar
  background-color: darkred
  margin-bottom: 10px
  padding: 2px
  padding-left: 8px
  margin-bottom: 10px
  height: 20px
  ul
    display: block
    li
      list-style-type: none
      float: left
      position: relative
      display: list-item
      color: white
      a
        padding-right: 18px
        padding-left: 18px
      a.header:link, a.header:visited, a.header:active
        color: white
        text-decoration: none
        text-weight: bold
      a.header:hover
        color: white
        text-decoration: underline
        text-weight: bold

#content
  margin-left: 15px

#footer
  text-align: center
  padding: 20px

