// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/one_col";


// Specific styling of elements
// Color scheme: 
// #ff542e red
// #fff0ba yellow
// #f2bc00 ocre
// #cfd6de light grey
// #adc1d6 light blue
// #7297ba blue
#header {
  background-repeat: no-repeat;
  background-color: #cfd6de;
  vertical-align: bottom;
  height: 65px;
  color: white;
  #logo { float: left; }
  #login_info {
    position:absolute;
    text-align: right;
    height: 40px;
    vertical-align: bottom;
    top: 10px;
    right: 15px;
    color: #7297ba;
    z-index: 1000;
    padding: 10px;
    li { list-style-type: none; }
  }
}

#flash_error {
  background-color: #ff542e;
  border-color: darkred;
}

#flash .notice {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: #ccc 10px 5px 5px;
  -webkit-box-shadow: #ccc 10px 5px 5px;
  -moz-box-shadow: #ccc 10px 5px 5px;
  margin: 10px;
  padding: 10px;
  float: left;
  width: 95%;
  text-align: center;
  .notify_close { float: right; }
  .notify_msg { margin-top: 8px; }
  .notify_msg h3 { margin-bottom: 0; }
}

#menu {
  background-color: #f2bc00;
  margin-bottom: 10px;
  padding: 2px;
  padding-left: 8px;
  margin-bottom: 10px;
  height: 20px;
  ul {
    display: block;
    li {
      list-style-type: none;
      float: left;
      position: relative;
      display: list-item;
      color: white;
      a {
        padding-right: 18px;
        padding-left: 18px;
      }
      a.header:link, a.header:visited, a.header:active {
        color: white;
        text-decoration: none;
        text-weight: bold;
      }
      a.header:hover {
        color: white;
        text-decoration: underline;
        text-weight: bold;
      }
    }
  }
}

#content {
  margin-left: 15px;
}

#media_item {
  #errorExplanation {
    background-color: #ff542e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: #ccc 10px 5px 5px;
    -webkit-box-shadow: #ccc 10px 5px 5px;
    -moz-box-shadow: #ccc 10px 5px 5px;
    ul {
      li {
        display: list-item;
        color: white;
      }
    }
  }
}
table#metadata {
  td#name {
    font-weight: bold;
    text-align: right;
    width: 150px;
  }
  td#content{
  }
}

#footer {
  text-align: center;
  padding: 20px;
}

