#about
  %h2 About Eopas

  %p
    EOPAS is a system to deposit audio-visual recordings of ethnographic value, e.g. spoken language recordings, sign language recordings, song recordings, or music recordings. The main focus is on spoken language recordings, such as the recounting of stories told by elders.
    
  %p
    EOPAS is open source - you are more than welcome to contribute. The project page can be found on <a href="http://sourceforge.net/projects/eopas/">SourceForge</a>, the source code on <a href="https://launchpad.net/eopas">Launchpad</a>.
    
  %p
    Enjoy!