#help
  %h2 Help for Eopas

  %p Frequently asked questions

  %h3 How to cite a phrase?
  
  %p
    As a video or audio element plays back and there are annotation phrases, the URL of the browser changes.
    The URL adapts to the time code of the phrase.
    You can pause the video or audio element and cut and paste the URL for citation purposes.
    
  %p
    Alternatively, you can also right click on the little black "play" button of a phrase and copy the link address.
    