#home
  %h2 EOPAS
  
  %p
    This is the home page of the Ethnographic E-Research Online Presentation System for Interlinear Text. This particular instance runs at the University of Melbourne with the School of Linguistics and Applied Linguistics.
