%h2 EOPAS

#paragraph
  This is the home page of the Ethnographic E-Research Online Presentation System (EOPAS) for Interlinear Text. This particular instance runs at the University of Melbourne with the School of Linguistics and Applied Linguistics.

#paragraph
  EOPAS is a system to deposit audio-visual recordings of ethnographic value, e.g. spoken language recordings, sign language recordings, song recordings, or music recordings. The main focus is on spoken language recordings, such as the recounting of stories told by elders.

#paragraph
  EOPAS is open source - you are more than welcome to contribute.

#paragraph
  The project home page is <a href="http://languages-linguistics.unimelb.edu.au/projects/eopas">at the School of Language and Linguistics, University of Melbourne, Australia</a>, the mailing lists can be found on  <a href="http://sourceforge.net/projects/eopas/">SourceForge</a>, and the source code and bug tracker are on <a href="http://app.eopas.org/">Github</a>.

#paragraph
  This site is best viewed in Firefox 3+ and Chrome, or any other browers which support the Ogg Vorbis and Ogg Theroa media formats.
  
#paragraph
  Enjoy!
