
#media_item
  %h2 Media Item Details:

  %strong Title:
  %p#title
    = @media_item.title
  %br
  %strong Depositor:
  %p#depositor
    = @media_item.depositor.full_name

  - if @media_item.original_processing
    %p Media item is being transcoded
