
#flash
  - flash.each do |name, msg|
    %div.notify{:id => "flash_#{name}"}
      %div.notify_msg
        %h3= msg
      %div.notify_close
        = image_tag 'closebox.png', :id => "closebox", :alt => "closebox"

:javascript
  $(document).ready(function () {
    $('#flash img').click(function () {
      $('#flash').hide();
    });
  });

