
#footer
  %ul
    %li link_to 'About EOPAS', about_path
    %li= link_to 'Contact Us', 'https://sourceforge.net/projects/eopas/support'
  == Copyright &#169; #{Date.today.year} EOPAS. All Rights Reserved.

