
#footer
  %hr
  %p
    Funded by the Institute for a Broadband-Enabled Society (IBES)

  %p
    Chief Investigators: 
    = mail_to("thien@unimelb.edu.au", "Nick Thieberger")
    , Linguistics, University of Melbourne; Rachel Nordlinger, Linguistics, University of Melbourne; Cathy Falk, Music, University of Melbourne; Steven Bird, Computer Science and Software Engineering, University of Melbourne; Linda Barwick, Music, University of Sydney.

  %p
    Copyright &#169; #{Date.today.year} EOPAS. All Rights Reserved.
