- if current_user
  %li.last#right= link_to 'Logout', logout_path
  %li#right= link_to current_user.full_name, current_user
- else
  %li.last#right= link_to 'Login', login_path
  %li#right= link_to 'Register', new_user_path
