#login_info
  %ul
    - if current_user
      %li= link_to current_user.full_name, current_user
      %li.last= link_to 'Logout', logout_path
    - else
      %li= link_to 'Register', new_user_path
      %li.last= link_to 'Login', login_path
