#sidebar

  %ul
    %li= link_to 'Home', root_path, :class => 'header'
    - if current_user
      %li= link_to 'Upload', new_media_item_path, :class => 'header'
    %li= link_to 'About EOPAS', about_path, :class => 'header'
    %li= link_to 'Contact Us', 'https://sourceforge.net/projects/eopas/support', :class => 'header'
    



:javascript

  // We want the appropriate link to be highlighted
  $('document').ready(function() {
      var loc = window.location.toString().split("/")
      loc = loc[loc.length - 1] + "/"
      $("#sidebar li a[href=\""+loc+"\"]").parent().addClass("current");
    } 
  );

